body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  list-style: none;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul li{
  padding-left: 8px;
  padding-right: 8px;
  list-style: none;
  
}
a{
  text-decoration: none;
}
.nav-bar{
  height: 80px;
  background-color: rgb(14, 14, 14);
  position: sticky;
  top: 0;
  z-index: 10;
}
.head{
  width: 100%;
  height: 700px;
}
.style-border{  
  border: 13px solid wheat;
}
.pro-img{
width:261px;
height:311px;
}
.ic{
  color: white;
}
.ic:hover{
   color: rgba(227, 251, 7, 0.954);
}
.about{
  background-image: linear-gradient(to right, #141e30, #243b55);
}
.edu{
  background-image: linear-gradient(to right, #141e30, #243b55);
  /* background :linear-gradient(to right, #0f0c29, #302b63, #24243e); */
}
.edu .img img{
  width: 134px;
  height: 150px;
}
/* @media screen and (max-width: 859px) and (min-width:770px) {

  .style-border{
    border: 7px solid white;
  }
  .pro-img{
    width: 200px;
    height: 311px;
  }
} */
@media screen and (max-width: 796px)  {
  .navlink ul{
    display: block;
  }
}